
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.cnt-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.cnt-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.cnt-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.cnt-table,.cnt-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.cnt-table-all{border:1px solid #ccc}
.cnt-bordered tr,.cnt-table-all tr{border-bottom:1px solid #ddd}.cnt-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.cnt-table-all tr:nth-child(odd){background-color:#fff}.cnt-table-all tr:nth-child(even){background-color:#f1f1f1}
.cnt-hoverable tbody tr:hover,.cnt-ul.cnt-hoverable li:hover{background-color:#ccc}.cnt-centered tr th,.cnt-centered tr td{text-align:center}
.cnt-table td,.cnt-table th,.cnt-table-all td,.cnt-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.cnt-table th:first-child,.cnt-table td:first-child,.cnt-table-all th:first-child,.cnt-table-all td:first-child{padding-left:16px}
.cnt-btn,.cnt-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.cnt-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.cnt-btn,.cnt-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.cnt-disabled,.cnt-btn:disabled,.cnt-button:disabled{cursor:not-allowed;opacity:0.3}.cnt-disabled *,:disabled *{pointer-events:none}
.cnt-btn.cnt-disabled:hover,.cnt-btn:disabled:hover{box-shadow:none}
.cnt-badge,.cnt-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.cnt-badge{border-radius:50%}
.cnt-ul{list-style-type:none;padding:0;margin:0}.cnt-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.cnt-ul li:last-child{border-bottom:none}
.cnt-tooltip,.cnt-display-container{position:relative}.cnt-tooltip .cnt-text{display:none}.cnt-tooltip:hover .cnt-text{display:inline-block}
.cnt-ripple:active{opacity:0.5}.cnt-ripple{transition:opacity 0s}
.cnt-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.cnt-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.cnt-dropdown-click,.cnt-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.cnt-dropdown-hover:hover .cnt-dropdown-content{display:block}
.cnt-dropdown-hover:first-child,.cnt-dropdown-click:hover{background-color:#ccc;color:#000}
.cnt-dropdown-hover:hover > .cnt-button:first-child,.cnt-dropdown-click:hover > .cnt-button:first-child{background-color:#ccc;color:#000}
.cnt-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.cnt-check,.cnt-radio{width:24px;height:24px;position:relative;top:6px}
.cnt-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.cnt-bar-block .cnt-dropdown-hover,.cnt-bar-block .cnt-dropdown-click{width:100%}
.cnt-bar-block .cnt-dropdown-hover .cnt-dropdown-content,.cnt-bar-block .cnt-dropdown-click .cnt-dropdown-content{min-width:100%}
.cnt-bar-block .cnt-dropdown-hover .cnt-button,.cnt-bar-block .cnt-dropdown-click .cnt-button{width:100%;text-align:left;padding:8px 16px}
.cnt-main,#main{transition:margin-left .4s}
.cnt-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.cnt-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.cnt-bar{width:100%;overflow:hidden}.cnt-center .cnt-bar{display:inline-block;width:auto}
.cnt-bar .cnt-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.cnt-bar .cnt-dropdown-hover,.cnt-bar .cnt-dropdown-click{position:static;float:left}
.cnt-bar .cnt-button{white-space:normal}
.cnt-bar-block .cnt-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.cnt-bar-block.cnt-center .cnt-bar-item{text-align:center}.cnt-block{display:block;width:100%}
.cnt-responsive{display:block;overflow-x:auto}
.cnt-container:after,.cnt-container:before,.cnt-panel:after,.cnt-panel:before,.cnt-row:after,.cnt-row:before,.cnt-row-padding:after,.cnt-row-padding:before,
.cnt-cell-row:before,.cnt-cell-row:after,.cnt-clear:after,.cnt-clear:before,.cnt-bar:before,.cnt-bar:after{content:"";display:table;clear:both}
.cnt-col,.cnt-half,.cnt-third,.cnt-twothird,.cnt-threequarter,.cnt-quarter{float:left;width:100%}
.cnt-col.s1{width:8.33333%}.cnt-col.s2{width:16.66666%}.cnt-col.s3{width:24.99999%}.cnt-col.s4{width:33.33333%}
.cnt-col.s5{width:41.66666%}.cnt-col.s6{width:49.99999%}.cnt-col.s7{width:58.33333%}.cnt-col.s8{width:66.66666%}
.cnt-col.s9{width:74.99999%}.cnt-col.s10{width:83.33333%}.cnt-col.s11{width:91.66666%}.cnt-col.s12{width:99.99999%}
@media (min-width:601px){.cnt-col.m1{width:8.33333%}.cnt-col.m2{width:16.66666%}.cnt-col.m3,.cnt-quarter{width:24.99999%}.cnt-col.m4,.cnt-third{width:33.33333%}
.cnt-col.m5{width:41.66666%}.cnt-col.m6,.cnt-half{width:49.99999%}.cnt-col.m7{width:58.33333%}.cnt-col.m8,.cnt-twothird{width:66.66666%}
.cnt-col.m9,.cnt-threequarter{width:74.99999%}.cnt-col.m10{width:83.33333%}.cnt-col.m11{width:91.66666%}.cnt-col.m12{width:99.99999%}}
@media (min-width:993px){.cnt-col.l1{width:8.33333%}.cnt-col.l2{width:16.66666%}.cnt-col.l3{width:24.99999%}.cnt-col.l4{width:33.33333%}
.cnt-col.l5{width:41.66666%}.cnt-col.l6{width:49.99999%}.cnt-col.l7{width:58.33333%}.cnt-col.l8{width:66.66666%}
.cnt-col.l9{width:74.99999%}.cnt-col.l10{width:83.33333%}.cnt-col.l11{width:91.66666%}.cnt-col.l12{width:99.99999%}}
.cnt-content{max-width:980px;margin:auto}.cnt-rest{overflow:hidden}
.cnt-cell-row{display:table;width:100%}.cnt-cell{display:table-cell}
.cnt-cell-top{vertical-align:top}.cnt-cell-middle{vertical-align:middle}.cnt-cell-bottom{vertical-align:bottom}
.cnt-hide{display:none!important}.cnt-show-block,.cnt-show{display:block!important}.cnt-show-inline-block{display:inline-block!important}
@media (max-width:600px){.cnt-modal-content{margin:0 10px;width:auto!important}.cnt-modal{padding-top:30px}
.cnt-dropdown-hover.cnt-mobile .cnt-dropdown-content,.cnt-dropdown-click.cnt-mobile .cnt-dropdown-content{position:relative}	
.cnt-hide-small{display:none!important}.cnt-mobile{display:block;width:100%!important}.cnt-bar-item.cnt-mobile,.cnt-dropdown-hover.cnt-mobile,.cnt-dropdown-click.cnt-mobile{text-align:center}
.cnt-dropdown-hover.cnt-mobile,.cnt-dropdown-hover.cnt-mobile .cnt-btn,.cnt-dropdown-hover.cnt-mobile .cnt-button,.cnt-dropdown-click.cnt-mobile,.cnt-dropdown-click.cnt-mobile .cnt-btn,.cnt-dropdown-click.cnt-mobile .cnt-button{width:100%}}
@media (max-width:768px){.cnt-modal-content{width:500px}.cnt-modal{padding-top:50px}}
@media (min-width:993px){.cnt-modal-content{width:900px}.cnt-hide-large{display:none!important}.cnt-sidebar.cnt-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.cnt-hide-medium{display:none!important}}
@media (max-width:992px){.cnt-sidebar.cnt-collapse{display:none}.cnt-main{margin-left:0!important;margin-right:0!important}}
.cnt-top,.cnt-bottom{position:fixed;width:100%;z-index:1}.cnt-top{top:0}.cnt-bottom{bottom:0}
.cnt-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.cnt-display-topleft{position:absolute;left:0;top:0}.cnt-display-topright{position:absolute;right:0;top:0}
.cnt-display-bottomleft{position:absolute;left:0;bottom:0}.cnt-display-bottomright{position:absolute;right:0;bottom:0}
.cnt-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.cnt-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.cnt-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.cnt-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.cnt-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.cnt-display-container:hover .cnt-display-hover{display:block}.cnt-display-container:hover span.cnt-display-hover{display:inline-block}.cnt-display-hover{display:none}
.cnt-display-position{position:absolute}
.cnt-circle{border-radius:50%}
.cnt-round-small{border-radius:2px}.cnt-round,.cnt-round-medium{border-radius:4px}.cnt-round-large{border-radius:8px}.cnt-round-xlarge{border-radius:16px}.cnt-round-xxlarge{border-radius:32px}
.cnt-row-padding,.cnt-row-padding>.cnt-half,.cnt-row-padding>.cnt-third,.cnt-row-padding>.cnt-twothird,.cnt-row-padding>.cnt-threequarter,.cnt-row-padding>.cnt-quarter,.cnt-row-padding>.cnt-col{padding:0 8px}
.cnt-container,.cnt-panel{padding:0.01em 16px}.cnt-panel{margin-top:16px;margin-bottom:16px}
.cnt-code,.cnt-codespan{font-family:Consolas,"courier new";font-size:16px}
.cnt-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.cnt-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.cnt-card,.cnt-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.cnt-card-4,.cnt-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.cnt-spin{animation:cnt-spin 2s infinite linear}@keyframes cnt-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.cnt-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.cnt-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.cnt-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.cnt-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.cnt-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.cnt-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.cnt-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.cnt-animate-input{transition:width 0.4s ease-in-out}.cnt-animate-input:focus{width:100%!important}
.cnt-opacity,.cnt-hover-opacity:hover{opacity:0.60}.cnt-opacity-off,.cnt-hover-opacity-off:hover{opacity:1}
.cnt-opacity-max{opacity:0.25}.cnt-opacity-min{opacity:0.75}
.cnt-greyscale-max,.cnt-grayscale-max,.cnt-hover-greyscale:hover,.cnt-hover-grayscale:hover{filter:grayscale(100%)}
.cnt-greyscale,.cnt-grayscale{filter:grayscale(75%)}.cnt-greyscale-min,.cnt-grayscale-min{filter:grayscale(50%)}
.cnt-sepia{filter:sepia(75%)}.cnt-sepia-max,.cnt-hover-sepia:hover{filter:sepia(100%)}.cnt-sepia-min{filter:sepia(50%)}
.cnt-tiny{font-size:10px!important}.cnt-small{font-size:12px!important}.cnt-medium{font-size:15px!important}.cnt-large{font-size:18px!important}
.cnt-xlarge{font-size:24px!important}.cnt-xxlarge{font-size:36px!important}.cnt-xxxlarge{font-size:48px!important}.cnt-jumbo{font-size:64px!important}
.cnt-left-align{text-align:left!important}.cnt-right-align{text-align:right!important}.cnt-justify{text-align:justify!important}.cnt-center{text-align:center!important}
.cnt-border-0{border:0!important}.cnt-border{border:1px solid #ccc!important}
.cnt-border-top{border-top:1px solid #ccc!important}.cnt-border-bottom{border-bottom:1px solid #ccc!important}
.cnt-border-left{border-left:1px solid #ccc!important}.cnt-border-right{border-right:1px solid #ccc!important}
.cnt-topbar{border-top:6px solid #ccc!important}.cnt-bottombar{border-bottom:6px solid #ccc!important}
.cnt-leftbar{border-left:6px solid #ccc!important}.cnt-rightbar{border-right:6px solid #ccc!important}
.cnt-section,.cnt-code{margin-top:16px!important;margin-bottom:16px!important}
.cnt-margin{margin:16px!important}.cnt-margin-top{margin-top:16px!important}.cnt-margin-bottom{margin-bottom:16px!important}
.cnt-margin-left{margin-left:16px!important}.cnt-margin-right{margin-right:16px!important}
.cnt-padding-small{padding:4px 8px!important}.cnt-padding{padding:8px 16px!important}.cnt-padding-large{padding:12px 24px!important}
.cnt-padding-16{padding-top:16px!important;padding-bottom:16px!important}.cnt-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.cnt-padding-32{padding-top:32px!important;padding-bottom:32px!important}.cnt-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.cnt-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.cnt-left{float:left!important}.cnt-right{float:right!important}
.cnt-button:hover{color:#000!important;background-color:#ccc!important}
.cnt-transparent,.cnt-hover-none:hover{background-color:transparent!important}
.cnt-hover-none:hover{box-shadow:none!important}
/* Colors */
.cnt-amber,.cnt-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.cnt-aqua,.cnt-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.cnt-blue,.cnt-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.cnt-light-blue,.cnt-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.cnt-brown,.cnt-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.cnt-cyan,.cnt-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.cnt-blue-grey,.cnt-hover-blue-grey:hover,.cnt-blue-gray,.cnt-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.cnt-green,.cnt-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.cnt-light-green,.cnt-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.cnt-indigo,.cnt-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.cnt-khaki,.cnt-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.cnt-lime,.cnt-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.cnt-orange,.cnt-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.cnt-deep-orange,.cnt-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.cnt-pink,.cnt-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.cnt-purple,.cnt-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.cnt-deep-purple,.cnt-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.cnt-red,.cnt-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.cnt-sand,.cnt-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.cnt-teal,.cnt-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.cnt-yellow,.cnt-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.cnt-white,.cnt-hover-white:hover{color:#000!important;background-color:#fff!important}
.cnt-black,.cnt-hover-black:hover{color:#fff!important;background-color:#000!important}
.cnt-grey,.cnt-hover-grey:hover,.cnt-gray,.cnt-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.cnt-light-grey,.cnt-hover-light-grey:hover,.cnt-light-gray,.cnt-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.cnt-dark-grey,.cnt-hover-dark-grey:hover,.cnt-dark-gray,.cnt-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.cnt-pale-red,.cnt-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.cnt-pale-green,.cnt-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.cnt-pale-yellow,.cnt-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.cnt-pale-blue,.cnt-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.cnt-text-amber,.cnt-hover-text-amber:hover{color:#ffc107!important}
.cnt-text-aqua,.cnt-hover-text-aqua:hover{color:#00ffff!important}
.cnt-text-blue,.cnt-hover-text-blue:hover{color:#2196F3!important}
.cnt-text-light-blue,.cnt-hover-text-light-blue:hover{color:#87CEEB!important}
.cnt-text-brown,.cnt-hover-text-brown:hover{color:#795548!important}
.cnt-text-cyan,.cnt-hover-text-cyan:hover{color:#00bcd4!important}
.cnt-text-blue-grey,.cnt-hover-text-blue-grey:hover,.cnt-text-blue-gray,.cnt-hover-text-blue-gray:hover{color:#607d8b!important}
.cnt-text-green,.cnt-hover-text-green:hover{color:#4CAF50!important}
.cnt-text-light-green,.cnt-hover-text-light-green:hover{color:#8bc34a!important}
.cnt-text-indigo,.cnt-hover-text-indigo:hover{color:#3f51b5!important}
.cnt-text-khaki,.cnt-hover-text-khaki:hover{color:#b4aa50!important}
.cnt-text-lime,.cnt-hover-text-lime:hover{color:#cddc39!important}
.cnt-text-orange,.cnt-hover-text-orange:hover{color:#ff9800!important}
.cnt-text-deep-orange,.cnt-hover-text-deep-orange:hover{color:#ff5722!important}
.cnt-text-pink,.cnt-hover-text-pink:hover{color:#e91e63!important}
.cnt-text-purple,.cnt-hover-text-purple:hover{color:#9c27b0!important}
.cnt-text-deep-purple,.cnt-hover-text-deep-purple:hover{color:#673ab7!important}
.cnt-text-red,.cnt-hover-text-red:hover{color:#f44336!important}
.cnt-text-sand,.cnt-hover-text-sand:hover{color:#fdf5e6!important}
.cnt-text-teal,.cnt-hover-text-teal:hover{color:#009688!important}
.cnt-text-yellow,.cnt-hover-text-yellow:hover{color:#d2be0e!important}
.cnt-text-white,.cnt-hover-text-white:hover{color:#fff!important}
.cnt-text-black,.cnt-hover-text-black:hover{color:#000!important}
.cnt-text-grey,.cnt-hover-text-grey:hover,.cnt-text-gray,.cnt-hover-text-gray:hover{color:#757575!important}
.cnt-text-light-grey,.cnt-hover-text-light-grey:hover,.cnt-text-light-gray,.cnt-hover-text-light-gray:hover{color:#f1f1f1!important}
.cnt-text-dark-grey,.cnt-hover-text-dark-grey:hover,.cnt-text-dark-gray,.cnt-hover-text-dark-gray:hover{color:#3a3a3a!important}
.cnt-border-amber,.cnt-hover-border-amber:hover{border-color:#ffc107!important}
.cnt-border-aqua,.cnt-hover-border-aqua:hover{border-color:#00ffff!important}
.cnt-border-blue,.cnt-hover-border-blue:hover{border-color:#2196F3!important}
.cnt-border-light-blue,.cnt-hover-border-light-blue:hover{border-color:#87CEEB!important}
.cnt-border-brown,.cnt-hover-border-brown:hover{border-color:#795548!important}
.cnt-border-cyan,.cnt-hover-border-cyan:hover{border-color:#00bcd4!important}
.cnt-border-blue-grey,.cnt-hover-border-blue-grey:hover,.cnt-border-blue-gray,.cnt-hover-border-blue-gray:hover{border-color:#607d8b!important}
.cnt-border-green,.cnt-hover-border-green:hover{border-color:#4CAF50!important}
.cnt-border-light-green,.cnt-hover-border-light-green:hover{border-color:#8bc34a!important}
.cnt-border-indigo,.cnt-hover-border-indigo:hover{border-color:#3f51b5!important}
.cnt-border-khaki,.cnt-hover-border-khaki:hover{border-color:#f0e68c!important}
.cnt-border-lime,.cnt-hover-border-lime:hover{border-color:#cddc39!important}
.cnt-border-orange,.cnt-hover-border-orange:hover{border-color:#ff9800!important}
.cnt-border-deep-orange,.cnt-hover-border-deep-orange:hover{border-color:#ff5722!important}
.cnt-border-pink,.cnt-hover-border-pink:hover{border-color:#e91e63!important}
.cnt-border-purple,.cnt-hover-border-purple:hover{border-color:#9c27b0!important}
.cnt-border-deep-purple,.cnt-hover-border-deep-purple:hover{border-color:#673ab7!important}
.cnt-border-red,.cnt-hover-border-red:hover{border-color:#f44336!important}
.cnt-border-sand,.cnt-hover-border-sand:hover{border-color:#fdf5e6!important}
.cnt-border-teal,.cnt-hover-border-teal:hover{border-color:#009688!important}
.cnt-border-yellow,.cnt-hover-border-yellow:hover{border-color:#ffeb3b!important}
.cnt-border-white,.cnt-hover-border-white:hover{border-color:#fff!important}
.cnt-border-black,.cnt-hover-border-black:hover{border-color:#000!important}
.cnt-border-grey,.cnt-hover-border-grey:hover,.cnt-border-gray,.cnt-hover-border-gray:hover{border-color:#9e9e9e!important}
.cnt-border-light-grey,.cnt-hover-border-light-grey:hover,.cnt-border-light-gray,.cnt-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.cnt-border-dark-grey,.cnt-hover-border-dark-grey:hover,.cnt-border-dark-gray,.cnt-hover-border-dark-gray:hover{border-color:#616161!important}
.cnt-border-pale-red,.cnt-hover-border-pale-red:hover{border-color:#ffe7e7!important}.cnt-border-pale-green,.cnt-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.cnt-border-pale-yellow,.cnt-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.cnt-border-pale-blue,.cnt-hover-border-pale-blue:hover{border-color:#e7ffff!important}